
  .m-home{
      @include flexbox();
      @include flex(1);
      @include flex-direction(column);
      width:100%;
      height:100%;
      header{
         height:.44rem;
         background:#0cc140;
         >ul{
            @include flexbox();
            width:100%;
            height:100%;
            position:relative;
            >li{
                width:.44rem;
                height:100%;
                color:#fff;
                font-size:.2rem;
                text-align:center;
                &.menu{
                    position:absolute;
                    top:.05rem;
                    left:.08rem;
                }
                &.sm{
                    position:absolute;
                    top:.07rem;
                    right:.08rem;
                }
                &:nth-child(2){
                   @include flexbox();
                   @include flex(1);
                   @include justify-content(center);
                   @include align-items(center);
                   ul{
                      width:1.18rem;
                      height:0.25rem;
                      background:#abcdef;
                      @include flexbox();
                      font-size:.12rem;
                      color:rgba(255,255,255,0.7);
                      background:rgba(99,215,132,0.7);
                      @include border-radius(.1rem);
                      overflow:hidden;
                      li{
                         width:0.59rem;
                         height:.25rem;
                         text-align:center;
                         line-height:.25rem;
                         &.active{
                             color:rgba(255,255,255,1);
                             background:rgba(99,215,132,1);
                         }
                      }
                   }
                }
            }
         }
      }
      #home-swiper{
        width:100%;
        height:100%;
        overflow:hidden;
        /* 解决拖拽不到底：给第一个swiper-wrapper加绝对定位，并且给第一个swiper-slide加弹性盒 */
        .swiper-wrapper:nth-child(1){
          position:absolute;
        };
        #navContent{
          @include flexbox();
          @include flex-direction(column);
        }
        nav{
          width:100%;
          height:.38rem;
          ul{
            width:100%;
            height:100%;
           /*  border-box不起作用 */
            /* @include box-sizing(border-box); */
            li{
              float:left;
              width:33.3%;
              text-align:center;
              line-height:.38rem;
              font-size:.14rem;
              color:#444;
              /* @include box-sizing(border-box); */
              @include border(0 0 1px 0,#F6F6F6,solid);
              
              &.active{
                /* @include box-sizing(border-box); */
                @include border(0 0 3px 0,#459F62,solid);//3px不受1px问题的影响
                /* border-bottom:2px solid #459F62; */
                color:#5CB478;
              }
            }
          }
        }
        #content-swiper{
          @include flex(1);
          width:100%;
          height:100%;
          #list{
            width:100%;
            height:100%;
            ul{
              @include flexbox();
              margin-top:.05rem;
              li:not(:nth-child(2)){
                @include flex(1);
                img{
                  width:100%;
                }
                b{
                  display:block;
                  width:100%;
                  height:.28rem;
                  background:#fff;
                  font-size:.14rem;
                  font-weight:normal;
                  color:#555356;
                  text-align:center;
                  line-height:.28rem;
                }
              }
              li:nth-child(2){
                width:.05rem;
                height:100%;
              }
              li.hide{
                //占位的隐藏
                visibility:hidden;
              }
            }
            .head{
              width:100%;
              height:.3rem;
              line-height:.3rem;
              text-align:center;
              margin-bottom:.02rem;
              img{
                width:.13rem;
                display:inline-block;
                transform:rotate(180deg);
                -webkit-transform:rotate(180deg);
                transition:transform .2s;
                -webkit-transition:transform .2s;
              }
            }
            .foot{
              width:100%;
              height:.3rem;
              line-height:.3rem;
              text-align:center;
              margin-bottom:.04rem;
              img{
                width:.13rem;
                display:inline-block;
                transition:transform .15s;
                -webkit-transition:transform .15s;
              }
            }
          }
          /* 不理解这段样式 */
          .up{
            transform:rotate(360deg)!important;
            -webkit-transform:rotate(360deg)!important;
          }
          .down{
            transform:rotate(180deg)!important;
            -webkit-transform:rotate(180deg)!important;
          }
        }
        /* 需要加swiper的大盒子加上宽高100%，溢出隐藏 */
        /* #content-swiper{
          width:100%;
          height:100%;
          overflow:hidden;
          #home-scroll{
          @include flex(1);
          width:100%;
          height:100%;
          overflow:hidden;
          ol{
            width:100%;
            height:100%;
            margin-top:.02rem;
            overflow:hidden;
            float:left;
            li{
              width:100%;
              height:1.84rem;
              @include flexbox();
              margin-top:.05rem;
              dl{
                @include flex(1);
                height:100%;
                background:#ff0;
                dt{
                  width:100%;
                  img{
                    width:100%;
                  }
                }
                dd{
                  width:100%;
                  height:.26rem;
                  background:#fff;
                  text-align:center;
                  line-height:.26rem;
                  color:#363636;
                }
              }
              p{
                width:5px;
                height:100%;
                font-size:0;
              }
            }
          }
        }
        } */
      }
      
   }


