@font-face{
	font-family:yofont;
	src:url("/footballApp/images/iconfont/iconfont.woff") format("woff"),
	url("/footballApp/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face{
	font-family:yofont;
	src:url("/footballApp/images/iconfont/iconfont-menu.woff") format("woff"),
	url("/footballApp/images/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face{
	font-family:yofont;
	src:url("/footballApp/images/iconfont/iconfont-back.woff") format("woff"),
	url("/footballApp/images/iconfont/iconfont-back.ttf") format("truetype");
}

